:root {
    --content-bg: #273243;
    --tab-bg: #5B6C7C;
    --text-clr: white;
    --body-clr: #678195
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-clr);
    position: relative;
    width: 100%;
}

header {
    display: grid;
    justify-content: center;
    color: var(--text-clr);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30px 55px 60px;
    grid-template-areas: "image first" "image last" "image desc";
    margin-bottom: 2em;
}

.img_shadow {
    z-index: -1;
    top: 1.3em;
    position: absolute;
    width: 90px;
    height: 110px;
    background: var(--content-bg);
}

.head_shot {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 1em;
}

.first_name {
    grid-area: first;
    margin-top: 1.3em;
    font-size: 1.5em;
}

.last_name {
    margin-top: 1.1em;
    grid-area: last;
    color: var(--content-bg);
    font-size: 1.5em;
    width: 100%;
}

header p {
    grid-area: desc;
    font-size: .85em;
    margin-left: .25em;
    margin-top: -.25em;
    line-height: 1.2em;
}


.content {
    width: 55vw;
    height: 100%;
    background: var(--content-bg);
    color: var(--text-clr);
    border-top: 15px solid var(--text-clr);
    border-left: 15px solid var(--text-clr);
    padding: 1em 3em 3em 2em;
    position: relative;
    left: 20%;
    margin-top: 1em;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.575);
    line-height: 1.2em;
}

.about, .skills {
    margin-left: 1.5em;
}

.tag {
    position: absolute;
    padding: .4em;
    background: var(--tab-bg);
    left: -50px;
    font-size: 1.5em;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.534)
}

.contact_tag {
    position: absolute;
    padding: .4em;
    margin-top: 2em;
    background: var(--tab-bg);
    left: -60px;
    font-size: 1.5em;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.534)
}

.line {
    width: 60vw;
    height: 1px;
    background: var(--text-clr);
    margin-top: 3em;
}

.title {
    font-weight: 700;
    font-size: 1.1em;
}

.info {
    margin-top: -.7em;
    font-weight: 500;
}

.skills_tag_shadow {
    width: 37px;
    height: 52px;
    background: var(--text-clr);
    position: relative;
    top: 64px;
    left: -38px;
}

.certs_tag_shadow {
    width: 38px;
    height: 54px;
    background: var(--text-clr);
    position: relative;
    top: 65px;
    left: -38px;
}

.about_tag_shadow {
    width: 39px;
    height: 52px;
    background: var(--text-clr);
    position: absolute;
    top: 28px;
    left: -1px;
}

.work_tag_shadow {
    width: 41px;
    height: 52px;
    background: var(--text-clr);
    position: relative;
    top: 63px;
    left: -38px;
}

.contact_tag_shadow {
    width: 53px;
    height: 51px;
    background: var(--text-clr);
    position: relative;
    top: 92px;
    left: -38px;
}

.certs {
    font-size: 1em;
    margin-left: -1.1em;
    font-weight: 700;
}

li {
    list-style: none;
}

a{
    color: var(--text-clr);
    text-decoration: none;
}

.certs li {
    list-style: none;
    margin-top: .5em;
    font-weight: 500;
}

.see_more {
    position: absolute;
    padding: 8px 15px;
    background: #273243e1;
    color: var(--text-clr);
    border-radius: 10px;
    border: none;
}

.see_more:hover {
    cursor: pointer;
    transform: translate(-8px);
    transition: .5s;
}

.project-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.project {
    margin-top: 2em;
    margin-left: -1.3em;
}

.project_image {
    box-shadow: 0px -15px 0px 5px var(--tab-bg);
    margin-top: 1em;
    margin-left: -15%;
    width: 100%;
}

.project_desc {
    margin-top: -.5em;
    margin-bottom: 4em;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.head_shot_image_container {
    grid-area: image;
    margin: 0 auto;
}

.image_title {
    font-size: 1.05em;
    margin-top: -1em;
}

.fa-envelope {
    font-size: 1.5em;
    margin: 2.5em 0 0 .5em;
}

.fa-phone-alt {
    font-size: 1.5em;
    margin-left: .5em;
    margin-top: 1em;
}

.fa-linkedin-in {
    margin-top: 1em;
    font-size: 1.5em;
    margin-left: .5em;
}

.email {
    font-size: .6em;
    margin-top: -1.25em;
    margin-left: 2.7em;
    font-weight: 700;
}

.phone_info {
    margin-top: -1em;
    margin-left: 2.7em;
    font-size: .6em;
    font-weight: 700;
}

.linkedin_info {
    display: inline-block;
    font-size: .6em;
    font-weight: 700;
    color: white;
    margin-left: 3.4em;
    margin-top: -.5em;
    transition: .5s;
}

.linkedin_info:hover{
    color: gray;
    transform: translate(10px);
}
.footer {
    position: relative;
    bottom: 0;
    /* margin-top: 5em; */
    font-size: .75em;
    width: 100%;
    height: 50px;
    background: var(--content-bg);
    border-top: 10px solid var(--text-clr);
    color: var(--text-clr);
    text-align: center;
}

.contact_info{
    margin-left: 2.2em;
    margin-top: 2em;
    font-size:  .65em;
}


.landing, .nav, .desktop_blocks {
    display: none;
}

@media (min-width: 400px) {
    .project_image {
        margin-left: 0;
    }
    .contact_info {
        margin-left: 4em;
    }
    .first_name, .last_name {
        font-size: 2em;
    }
    .first_name {
        margin-top: .9em;
    }
    .fa-bars {
        margin-top: .6em;
        margin-left: 2em;
    }
    .last_name {
        margin-top: 1em;
    }
    header {
        justify-content: center;
    }
    header p {
        margin-top: .5em;
        font-size: 1.1em;
        margin-right: 0em;
    }
    .content {
        /* margin-left: 1em; */
        left: 17%;
        width: 65vw;
        /* left: 30%; */
        font-size: 1.1em;
    }
    .skills_tag_shadow {
        width: 43px;
        height: 56px;
        top: 70px;
    }
    .certs_tag_shadow {
        width: 43px;
        height: 56px;
        background: var(--text-clr);
        position: relative;
        top: 70px;
        left: -38px;
    }
    .about_tag_shadow {
        width: 48px;
        height: 57px;
        top: 31px;
    }
    .work_tag_shadow {
        width: 47px;
        height: 56px;
        background: var(--text-clr);
        position: relative;
        top: 69px;
        left: -38px;
    }
    .contact_tag_shadow {
        width: 60px;
        height: 55px;
        background: var(--text-clr);
        position: relative;
        top: 101px;
    }

    .contact_info{
        font-size: .91em;
        margin-left: 1.5em;
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    /* header {
        grid-template-columns: 150px 200px 120px;
    } */
    .content {
        /* margin-left: 1em; */
        left: 21%;
        width: 65vw;
        /* left: 30%; */
    }

    .contact_info{
        font-size: 1.1em;
        margin-left: 20%;
    }
    .first_name {
        margin-top: 1em;
        font-size: 1.8em;
    }
    .last_name {
        font-size: 3em;
        margin-left: 0;
        margin-top: .5em;
    }
    header p {
        font-size: 1.1em;
        margin-top: .8em;
        margin-right: 3em;
    }
    .head_shot {
        height: 140px;
        width: 140px;
        margin-top: .5em;
    }
}

@media (min-width: 768px) {
    header {
        grid-template-rows: 130px 30px 75px 70px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: ". image ." ". first ." " . last ." ". desc .";
    }
    .head-shot {
        margin-top: 2em;
    }
    .first_name, .last_name {
        text-align: center;
    }
    .first_name {
        font-size: 2.5em;
    }
    .last_name {
        font-size: 3em;
        margin-top: 1em;
    }
    header p {
        text-align: center;
        margin: 0;
        margin-top: 1em;
        font-size: 1.3em;
    }
    .img_shadow {
        width: 100vw;
        left: 0;
    }
    .content {
        width: 100vw;
        left: 0;
        margin: 0 auto;
    }
    .tag {
        left: -10px;
    }
    .line {
        position: absolute;
        left: 0;
    }
    .project_image {
        width: 60%;
    }
    .about, .skills, .certs{
        padding: 0 7em 0 5em;
    }
    .about, .skills, .certs, .project-container{
        margin: 0 auto;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .project-container {
        margin-left: 15%;
    }
    .certs {
        margin: 0;
        padding: 0 3em;
    }
    .project_desc {
        width: 600px;
    }

    .project{
        width: 100%;
        margin: 3em 0;
        margin-left: -1.5em;
        width: 90%;
        margin-right: 0;
    }

    .project_desc{
        width: 70%;
    }

    .project li{
        margin: 0;
    }

    .image_container {
        margin: 0 auto;
        justify-content: start;
        margin-bottom: 1.5em;
    }
    .see_more {
        left: 40%;
        width: 100px;
        height: 50px;
    }
    .contact_info {
        display: flex;
        margin-top: 3.5em;
        margin-left: 10%;
    }
    .contact_tag {
        left: -10px;
    }
    .fa-envelope {
        font-size: 1.6em;
        margin: 0 0 0 1em;
    }
    .email {
        margin-top: -1.1em;
        margin-left: .5em;
    }
    .fa-phone-alt {
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: .4em;
    }
    .phone_info {
        margin-top: 1em;
        margin-left: .5em;
        font-size: 1em;
    }
    .fa-linkedin-in {
        margin-top: 0em;
        font-size: 1.6em;
        margin-left: 1em;
    }
    .linkedin_info {
        margin-left: .55em;
    }
}

@media (min-width: 992px) {

    html {
        scroll-behavior: smooth;
    }

    .project{
        margin: 1em;
    }

    .nav_link:hover{
        transform: translate(10px, 10px);
    }

    header {
        display: none;
    }
    .landing, .nav {
        display: flex;
    }
    .intro {
        margin-left: 10%;
    }
    .landing {
        height: 100vh;
        margin: -80vh auto 0;
        justify-content: center;
        width: 80vw;
        height: 100%;
    }
    .landing h1, .landing h4 {
        margin: 0;
        justify-self: center;
        color: var(--text-clr);
        font-family: "Times New Roman";
        font-weight: 500;
    }
    .first_name {
        font-size: 2em;
    }
    .last_name {
        font-size: 2.5em;
        color: var(--content-bg)
    }
    .landing h4 {
        font-size: 1.7em;
    }
    .nav {
        background-color: var(--content-bg);
        justify-content: space-around;
        position: relative;
        top: 32vh;
        width: 100%;
        padding: .75em 0;
        box-shadow: 0 10px 20px black;
    }

    .nav_link{
        display: inline-block;
        transition: .5s
    }

    .nav_link:hover{
        color: gray;
        transform: translate(10px);
    }
    .nav ul li {
        display: inline;
        padding: 3em;
        font-size: 1.3em;
        color: var(--text-clr);
    }
    .nav ul li:hover{
        transform: rotate(90deg);
    }
    .ribbon1 {
        z-index: -1;
        width: 45px;
        border-bottom-left-radius: 50px;
        height: 100vh;
        background-color: #817878;
        position: relative;
        transform: rotate(-35deg);
        transform-origin: top;
        top: -50px;
        left: -130px;
        box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.335);
    }
    .ribbon2 {
        z-index: -1;
        width: 45px;
        height: 100%;
        background-color: var(--text-clr);
        display: block;
        position: absolute;
        top: 0px;
        left: 30px;
        box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.534);
    }
    .ribbon3 {
        width: 45px;
        height: 450px;
        background-color: var(--content-bg);
        position: absolute;
        transform: rotate(40deg);
        transform-origin: bottom;
        top: -180px;
        left: -50px;
        box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.534);
    }
    .ribbon4 {
        z-index: -1;
        width: 45px;
        height: 100%;
        background-color: var(--text-clr);
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.534);
    }
    .desktop_blocks {
        display: block;
    }
    .content {
        display: none;
    }
    .about, .skills, .work, .contact {
        height: 100%;
        background: var(--content-bg);
        border: 30px solid var(--text-clr);
    }
    .about {
        margin-top: 15em;
        height: 100%;
        display: grid;
        grid-template-columns: 300px 50px 70%;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "tag . ." "image line about";
    }
    .tag {
        grid-area: tag;
        width: 160px;
        height: 50px;
        background: var(--text-clr);
        font-size: 2em;
        position: relative;
        top: -75px;
        left: -50px;
        box-shadow: 10px 10px transparent;
    }
    .about_tag::after {
        content: "Hello!";
        position: absolute;
        top: -13px;
        left: 12px;
        text-align: center;
        background: var(--tab-bg);
        color: var(--text-clr);
        padding: .89em .5em;
        box-shadow: 5px 5px 10px 0 black;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "tag1 . tag2" "list line certs";
        margin: 0;
        padding: 0;
        padding-bottom: 2em;
    }
    .skills_tag {
        grid-area: tag1;
        width: 150px;
        left: 70px;
    }
    .skills_tag::after {
        content: "Skills";
        position: absolute;
        top: -13px;
        left: 12px;
        text-align: center;
        background: var(--tab-bg);
        color: var(--text-clr);
        padding: .89em .5em;
        box-shadow: 5px 5px 10px 0 black;
    }
    .cert_tag {
        grid-area: tag2;
        justify-self: right;
        width: 315px;
        margin-right: 1.55em;
    }
    .cert_tag::after {
        content: "Certifications";
        position: absolute;
        top: -13px;
        left: 12px;
        text-align: center;
        background: var(--tab-bg);
        color: var(--text-clr);
        padding: .89em .5em;
        box-shadow: 5px 5px 10px 0 black;
    }
    .work_tag {
        left: 8%;
        /* top: -60px; */
        width: 150px;
    }
    .work_tag::after {
        content: "Work";
        position: absolute;
        top: -13px;
        left: 10px;
        text-align: center;
        background: var(--tab-bg);
        color: var(--text-clr);
        padding: .55em .5em;
        box-shadow: 5px 5px 10px 0 black;
    }
    .work, .quote {
        font-size: 1.5em;
    }
    .work {
        height: 100%;
    }
    .skill_list {
        grid-area: list;
        color: var(--text-clr);
        margin: 0;
        padding: 0em .5em 0 2em;
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .cert_list {
        grid-area: certs;
        color: var(--text-clr);
        line-height: 1.5em;
        font-size: 1.2em;
        padding: 0 2em;
    }
    .skills .vertical_line {
        justify-self: right;
    }
    .about_content {
        grid-area: about;
        font-size: 1.4em;
        line-height: 1em;
        margin-top: -1.2em;
        padding: 1.5em;
        color: var(--text-clr);
    }
    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 1.5em;
        margin-left: -1em;
    }
    
    .button2{
        margin-left: 1em;
    }
    
    .button1:hover{
        cursor: pointer;
        transition: .5s;
        box-shadow: 10px 10px white;
        transform: translate(-10px, -10px);
    }

    .button2:hover{
        cursor: pointer;
        transition: .5s;
        box-shadow: -10px 10px white;
        transform: translate(10px, -10px);
    }
    .button1, .button2 {
        font-size: .8em;
        background: var(--tab-bg);
        color: var(--text-clr);
        border: none;
        padding: .5em .75em;
    }
    .skills .button1 {
        font-size: 1.1em;
    }
    .certs-list .button2 {
        display: flex;
        justify-self: center;
    }
    .image {
        grid-area: image;
        height: 350px;
        width: 300px;
        background: var(--tab-bg);
        margin-top: 2em;
        margin-left: -2em;
    }
    img {
        height: 350px;
        margin-left: .5em;
        margin-top: 1.5em;
        box-shadow: 10px 10px 30px black;
    }
    .vertical_line {
        grid-area: line;
        height: 60%;
        width: 3px;
        margin: 3em 1em;
        background: var(--text-clr);
    }
    .project .vertical_line {
        margin-top: 1.5em;
    }
    .quote {
        text-align: center;
        color: var(--text-clr);
        font-size: 2.5em;
        padding: .5em 3em;
    }
    .project {
        display: grid;
        grid-template-rows: 100px 400px 100px;
        grid-template-columns: 300px 50px 1fr;
        grid-template-areas: "title line image" "content line image" ". . buttons";
        
    }
    .project-container {
        width: 85%;
        padding-right: 0;
        padding-bottom: 2em;
    }
    .image_title {
        grid-area: title;
        font-size: .7em;
        color: white;
        margin-left: -5em;
    }
    .project_desc {
        font-size: .7em;
        padding: 0;
        width: 400px;
        color: white;
        padding-right: 2em;
        margin-left: -5em;
    }
    .image_container {
        grid-area: image;
        align-content: center;
    }
    .project_image {
        width: 80%;
        height: 350px;
        margin-left: 1em;
        align-self: start;
    }
    .contact_tag {
        left: 80px;
        top: -110px;
        font-size: 2.5em;
    }
    .contact_tag::after {
        content: "Contact";
        position: absolute;
        top: -13px;
        left: 7px;
        text-align: center;
        background: var(--tab-bg);
        color: var(--text-clr);
        padding: .7em .5em;
        box-shadow: 5px 5px 10px 0 black;
    }
    .contact {
        height: 300px;
    }
    .contact_info {
        display: flex;
        color: var(--text-clr);
        font-size: 1.5em;
        justify-content: space-around;
        margin: 0;
        padding: 0 3em;
        margin-top: -3em;
    }

    .fa-envelope, .fa-phone-alt, .fa-linkedin-in{
        margin: 0 0 0 1em;
        
    }

    .fa-phone-alt{
        margin-top: .35em;
    }

    .linkedin_info, .email{
        margin: 0;

    }

    .phone_info{
        margin-left: .25em;
        margin-top: 2em;
        font-size: 1em;
    }

    .footer {
        height: 5em;
        font-size: 1.3em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 40px solid var(--text-clr)
    }
    .project_buttons {
        grid-area: buttons;
        display: flex;
        justify-content: center;
        width: 90%;
        height: 75px;
        margin-top: -2em;
        margin-left: .3em;
    }

    

    @media (min-width: 1200px) {
        .wrapper, .landing, .desktop_blocks{
            max-width: 1400px;
        }

        .nav_link{
            font-size: 1.5em;
        }

        .first_name{
            font-size: 2.5em;
        }

        .last_name{
            font-size: 3.4em;
        }

        .landing h4{
            font-size: 2em;
        }

        .wrapper, .desktop_blocks{
            margin: 0 auto;
        }
        .about{
            font-size: 1.6em;
            padding-bottom: 1em;
        }

        .about_tag::after {
            left: 7px;
        }
        
        .nav{
            top: 26vh;
        }
        
        /* .fa-phone-alt{
            margin-left: -10%;
        } */

        .phone_info{
            /* margin-left: 2em; */
            font-size: 1em;
        }
        
    }
}